# ide files
.DS_Store
.idea
*.log
tmp/

# local configuration
docker-compose.override.yml

# build outputs
/target
result*

# ignore database
data_requests.sql

# ignore dev supporting files
.env
*.http
.direnv


# CI should always use latest versions permitted by Cargo.toml
Cargo.lock
